.title-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-family: 'Great vibes', cursive;
    font-size:6cqmax;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.4);
  }
  
  .dynamic-bar {
    width: 200%;
    height: 5px;
    background: linear-gradient(to right, #f1730b, #fff, #f1730b);
    background-size: 200% auto;
    margin: 0 auto;
    animation: dynamicBar 5s infinite linear;
  }
  
  @keyframes dynamicBar {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .logo-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .circular-logo {
    width: 60px;
    height: 60px;
    border-radius: 55%;
    background-color: #9a2c13;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .circular-logo img {
    max-width: 70%;
    max-height: 70%;
  }
  
  .content-wrapper {
    display: flex;
    align-items: center;
    background-color: #9e351a;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    
    
  }
  
  .left-content {
    flex-direction: row;
  }
  
  .right-content {
    flex-direction: row-reverse;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
    font-family: "fantasy",
  }
  
  .image-container {
    flex: 1;
    max-width: 50%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .box h2 {
    font-size: 27px;
    font-weight: bolder;
    color: #f1f1f1;
  }
  .box p {
    font-size: 20px;
    
    font-weight: bold;
    color: #ffffff;
    line-height: 140%;
  }
 @media (max-width: 768px) {
    .content-wrapper {
      flex-direction: column;
      text-align: center;
    }
    
    .image-container {
      max-width: 100%;
      padding: 0 10px;
    }
    
    .text-content {
      width: 100%;
      padding: 0 10px;
    }
    
    .title {
      font-size: 4cqmax;
    }
    
    .box h2 {
      font-size: 24px;
    }
    
    .box p {
      font-size: 18px;
    }
    
    .circular-logo {
      width: 50px;
      height: 50px;
    }
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  
  
  
  
